@media screen and (max-width: 760px){

    body{
        background-color: red;
    }

   header{
    flex-direction: column;
   }

   main{
    flex-direction: column;
   }

   h2{
    font-size: 38px;
   }
    
}